<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>150574288311-vlgt5vtmh1i31dpainq61gsdnm55gnnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150574288311-vlgt5vtmh1i31dpainq61gsdnm55gnnb</string>
	<key>API_KEY</key>
	<string>AIzaSyCIjLHZP-sY6OBG8iC6v2oNDvZhMQbTLvY</string>
	<key>GCM_SENDER_ID</key>
	<string>150574288311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NKSolutions.ChatFirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>chatapp-2382b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-2382b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:150574288311:ios:c4863b40c533c4ed</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-2382b.firebaseio.com</string>
</dict>
</plist>